@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('./assets/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica Oblique';
  src: url('./assets/fonts/Helvetica-Oblique.ttf') format('truetype');
  font-style: oblique;
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('./assets/fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Compressed';
  src: url('./assets/fonts/helvetica-compressed-5871d14b6903a.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Rounded Bold';
  src: url('./assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
  font-weight: bold;
}

body{
  font-family:  'Poppins', sans-serif;
  color: #515151;
}

/* body{
  font-family: 'Poppins', sans-serif;
  color: #515151;
} */
/* Blur Effect */
.blur {
  filter: blur(10px);
  transition: filter 0.5s ease-out;
}

/* Scale-Up Effect */
.scale-up {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes HeaderSaleLine_animateIcon {
  0% {
    transform: translateX(-100%); /* Start completely off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Move completely off-screen to the right */
  }
}

.animate-sale-icon {
  animation: HeaderSaleLine_animateIcon 4s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; /* Adjust the width for a proper strip */
  height: 100%; /* Full height of the sale bar */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  opacity: 0.7;
}

  @keyframes zoom-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes zoom-out {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }
  
  .animate-zoom-in {
    animation: zoom-in 0.3s ease-out forwards;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  div{
    box-sizing: border-box !important;
  }
  /* .container{
    max-width: 1080px;
    margin: 0 auto;
    width: 84vw;
  } */